@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --text-color: #f4effa;
    --bg-primary: #2f184b;
    --bg-secondary: #532b88;
    --accent-primary: #9b72cf;
    --accent-secondary: #c8b1e4;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-primary);
    margin: 0; 
}

p, a, h1, h2, h3, h4, h5, span, label {
    color: var(--text-color)
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}