{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel | {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/produtos.css' %}">
    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <script type="text/javascript">
        let user = '{{request.user}}'

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>
</head>
<body>
    {% include 'navbar.html' %}
    
    {% block content %}
        <section id="home" class="hero">
            <div class="container animate">
                <div class="left-col">
                    <p class="subhead">Monte o seu PC hoje!</p>
                    <h1>As melhores peças pelo melhor preço</h1>
                    <a href="#collection" class="primary-cta">Compre Agora!</a>
                </div>
    
                <img
                    src="{% static 'images/pc.png' %}"
                    class="hero-img"
                    alt="Illustration"
                />
            </div>
        </section>

        <section class="collection" id="collection">
            <div class="all-collections animate">
                <div class="collection-box clb1">
                    <p>Processadores</p>
                    <img
                        src="{% static 'images/processador.png' %}"
                        alt=""
                        width="150px"
                        height="150px"
                    />
                    <a href="{% url 'products_type' product_type='CPU' %}">Explorar Todos -></a>
                </div>
      
                <div class="collection-box clb2">
                    <p>Placas de vídeo</p>
                    <img
                        src="{% static 'images/placadevideo.png' %}"
                        alt=""
                        width="150px"
                        height="150px"
                    />
                    <a href="{% url 'products_type' product_type='GPU' %}">Explorar Todos -></a>
                </div>
      
                <div class="collection-box clb3">
                    <p>Computadores</p>
                    <img
                        src="{% static 'images/pc.png' %}"
                        alt=""
                        width="150px"
                        height="150px"
                    />
                    <a href="{% url 'products_type' product_type='PC' %}">Explorar Todos -></a>
                </div>
            </div>
        </section>

        <section class="section produtos" id="produtos">
            <div class="container animate">
                <h2 class="section-title">Todos os Produtos</h2>
      
                <ul class="filter-list">
                    <li>
                        <button class="filter-btn active">Todos</button>
                    </li>
                    <li>
                        <button class="filter-btn">Processadores</button>
                    </li>
                    <li>
                        <button class="filter-btn">Placas de vídeo</button>
                    </li>
                    <li>
                        <button class="filter-btn">Computadores</button>
                    </li>
                </ul>
            </div>
        </section>

        <section id="testimonials" class="testimonials-section animate">
            <div class="container">
              <ul>
                <li>
                  <img src="{% static 'images/Steve.jpg' %}" alt="Picture of an user" />
                  <blockquote>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet
                    quidem sequi dolore molestias commodi explicabo, voluptates.
                  </blockquote>
                  <cite>- João</cite>
                </li>
                <li>
                  <img src="{% static 'images/barbara.jpg' %}" alt="Picture of an user" />
                  <blockquote>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
                    sunt unde repellat itaque veritatis inventore.
                  </blockquote>
                  <cite>- Barbara</cite>
                </li>
                <li>
                  <img src="{% static 'images/nicole.jpg' %}" alt="Picture of an user" />
                  <blockquote>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
                    ducimus iure repudiandae, voluptate nesciunt earum.
                  </blockquote>
                  <cite>- Laura</cite>
                </li>
              </ul>
            </div>
          </section>

          <section id="contact" class="contact-section animate">
            <div class="container">
              <div class="contact-left">
                <h2>Contato</h2>
                <form action="">
                  <label for="name">Nome</label>
                  <input type="name" name="name" id="name" />
                  <label for="message">Mensagem</label>
                  <textarea
                    name="message"
                    id="message"
                    cols="30"
                    rows="10"
                  ></textarea>
                  <input
                    type="submit"
                    class="send-message-cta"
                    value="Mandar mensagem"
                  />
                </form>
              </div>
              <div class="contact-right">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.4870086602873!2d-35.77937882541602!3d-9.553219100497191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x701457bf524b0cb%3A0x9fa7897746e35cc4!2sIC%20-%20Institute%20of%20Computing!5e0!3m2!1sen!2sbr!4v1683327051899!5m2!1sen!2sbr"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
          </section>

          <div class="modal hidden">
            <img class="close-modal" src="images/close.png" alt="" width="17" />
            <div class="signup-form">
              <h2 class="modal-header">Crie sua conta</h2>
              <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <label for="username">Username:</label>
                {{ register_form.username }}
                <label for="password1">Senha:</label>
                {{ register_form.password1 }}
                <label for="password2">Confirmar senha:</label>
                {{ register_form.password2 }}
                <button type="submit">Cadastrar</button>
              </form>
              <p>Já tem uma conta?<a class="signin-instead" href="#">Entrar</a></p>
            </div>
            <div class="signin-form display-none">
              <h2 class="modal-header">Entrar</h2>
              <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <label for="username">Username:</label>
                {{ login_form.username }}
                <label for="password">Senha:</label>
                {{ login_form.password }}
                <button type="submit">Entrar</button>
            </form>
              <p>
                Ainda não tem uma conta?<a class="signup-instead" href="#"
                  >Cadastrar</a
                >
              </p>
            </div>
          </div>
          <div class="overlay hidden"></div>

    {% endblock %}

    {% block scripts %}<script type="text/javascript" src="{% static 'js/script.js' %}"></script>{% endblock %}
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>