{% extends 'base.html' %}
{% load static %}

{% block title %}Carrinho{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock %}

{% block content %}
<section class="carrinho">
    <div class="titulo-carrinho">
      <img src="{% static 'images/carrop.png' %}" alt="" width="34px" height="34px" />
      <h2>Meu carrinho</h2>
    </div>

    <div class="carrinho-geral">
      <div class="carrinho-esquerda">
        {% if items %}
            {% for item in items %}
                <div class="produto-carrinho">
                    <img src="{{ item.product.image.url }}" alt="" />
                    <p>{{ item.product.title }}</p>
                    <p>Preço: R$ {{ item.product.price }}</p>
                    <p>Total: R$ {{ item.get_total }}</p>
                    <div class="quantidade">
                        <button data-product="{{item.product.id}}" data-action="remove" class="update-cart">-</button>
                        <h4>{{ item.quantity }}</h4>
                        <button data-product="{{item.product.id}}" data-action="add" class="update-cart">+</button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h4>Vazio</h4>
        {% endif %}
      </div>

      <div class="carrinho-direita">
        <div class="checkout">
          <h3>Checkout</h3>
          <div class="shipping-form">
            <label for="adress">Endereço: </label> <input type="text" />
            <label for="adress">Cidade: </label> <input type="text" />
            <label for="adress">Estado: </label> <input type="text" />
            <label for="adress">CEP: </label> <input type="text" />
          </div>
        </div>

        <div class="resumo">
          <div class="carrinho-d-cima">
            <h3>Resumo</h3>
            <p>Total: <strong>R$ {{ order.get_cart_total }}</strong></p>
          </div>
          <a href="{% url 'purchase_complete' %}" class="finalizar-pedido">Finalizar pedido</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

    <!-- {% for item in items %}
        <div class="product">
            <img class="product-image" src="{{item.product.image.url}}" alt="productImage">
            <h3>{{ item.product.title }}</h3>
            <p>{{ item.quantity }}</p>
            <button data-product="{{item.product.id}}" data-action="add" class="update-cart">+</button>
            <button data-product="{{item.product.id}}" data-action="remove" class="update-cart">-</button>
            <p>Preço: R${{ item.product.price }}</p>
            <p>Total: R${{ item.get_total }}</p>
        </div>
    {% endfor %}
    
    <h3>Total: R${{ order.get_cart_total }}</h3>
    <p>Produtos: {{ order.get_cart_items }}</p>
    <a href="{% url 'checkout' %}"><button>Finalizar Compra</button></a> -->
